@model List<ResultServiceDTO>


@foreach (var item in Model)
{
    <div class="col-xl-4">
        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <i class="@item.ServiceIconURL"></i>
            <h4>@item.ServiceTitle</h4>
            <p>@item.ServiceDescription</p>
        </div>
    </div>

}
