@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadDefaultPartialComponent") <!-- Static -->

<body class="index-page">

    @await Component.InvokeAsync("_NavbarDefaultPartialComponent") <!-- Static -->

    <main class="main">

        @await Component.InvokeAsync("_FeatureDefaultPartialComponent") <!-- Static -->

        @await Component.InvokeAsync("_AboutDefaultPartialComponent") <!-- Static -->

        @await Component.InvokeAsync("_ServiceDefaultPartialComponent")

        @await Component.InvokeAsync("_StatsDefaultPartialComponent") <!-- Static -->

        @await Component.InvokeAsync("_MenuDefaultPartialComponent")

        @await Component.InvokeAsync("_TestimonialDefaultPartialComponent")
        
        @await Component.InvokeAsync("_EventDefaultPartialComponent")

        @await Component.InvokeAsync("_ChefDefaultPartialComponent")

        @await Component.InvokeAsync("_BookATableDefaultPartialComponent") <!-- Static -->

        @await Component.InvokeAsync("_ImagesDefaultPartialComponent")  <!-- Static -->

        @await Component.InvokeAsync("_ContactDefaultPartialComponent") <!-- Static -->

    </main>

    @await Component.InvokeAsync("_FooterScriptDefaultPartialComponent") <!-- Static -->

</body>

</html>