@model CreateNotificationDTO
@{
    ViewData["Title"] = "CreateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Create Notification</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Description</label>
                            <input type="text" asp-for="NotificationDescription" class="form-control" />
                            <br />
                            <label>Image URL</label>
                            <input type="text" asp-for="NotificationIconURL" class="form-control" />
                            <br />
                            <label>Status</label>
                            <input type="text" disabled asp-for="NotificationIsRead" class="form-control" placeholder="Unread"/>
                            <br />
                            <button type="submit" class="btn btn-success">Create New One</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

