<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">

    @await Component.InvokeAsync("_NavbarFormInlinePartialComponent") <!-- Static -->

    <ul class="navbar-nav navbar-right">

        @await Component.InvokeAsync("_NavbarMessageListAdminPartialComponent")

        @await Component.InvokeAsync("_NavbarNotificationListAdminPartialComponent")

        @await Component.InvokeAsync("_NavbarAccountAdminPartialComponent") <!-- Static -->

    </ul>
</nav>