@model List<ResultImageDTO>
@{
    ViewData["Title"] = "ImageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var i = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a href="/Image/CreateImage/" class="btn btn-success">Add New One</a>
                        <div class="bootstrap snippet">
                            <section id="portfolio" class="gray-bg padding-top-bottom">
                                <!--==== Portfolio Filters ====-->
                                <div class="categories">
                                    <ul>
                                        <li class="active">
                                            <a href="#" data-filter="*">All Categories</a>
                                        </li>
                                        <li>
                                            <a href="#" data-filter=".web-design">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#" data-filter=".apps">Apps</a>
                                        </li>
                                        <li>
                                            <a href="#" data-filter=".psd">PSD</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ======= Portfolio items ===-->
                                <div class="projects-container scrollimation in">
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            i++;
                                            <article class="col-md-3 col-sm-6 portfolio-item @item.ImageAlt">
                                                <div class="portfolio-thumb in">
                                                    <a href="#" class="main-link">
                                                        <img class="img-responsive img-center" src="@item.ImageURL" alt="@item.ImageAlt">
                                                        <span class="project-title">Titel @i</span>
                                                        <span class="overlay-mask"></span>
                                                    </a>
                                                    <a class="enlarge cboxElement" href="/Image/UpdateImage/@item.Id" title="Edit">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="link" href="/Image/DeleteImage/@item.Id">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </article>
                                        }
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

