@model UpdateServiceDTO
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Update Service</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="CreatedDate" />
                            <label>Service Title</label>
                            <input type="text" asp-for="ServiceTitle" class="form-control" />
                            <br />
                            <label>Description</label>
                            <input type="text" asp-for="ServiceDescription" class="form-control" />
                            <br />
                            <label>VideoURL</label>
                            <input type="text" asp-for="ServiceIconURL" class="form-control" />
                            <br />
                            <button type="submit" class="btn btn-success">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>