@model List<ResultCategoryDTO>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var i = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Category List</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@item.CategoryName</td>
                                        <td><a href="/Category/DeleteCategory/@item.Id" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Category/UpdateCategory/@item.Id" class="btn btn-warning">Update</a></td>
                                    </tr>
                                    i++;
                                }

                            </tbody>
                        </table>
                        <a href="/Category/CreateCategory/" class="btn btn-success">Add New One</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>